/* * generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey;
}

.contenitore {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.stelline-vuote {
    opacity: 0.5;
}

.show {
    display: inline-block;
}

.hidden {
    display: none;
}

/* * header */
header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 5rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

header .box-sx {
    display: flex;
}

header .box-sx h1 {
    display: inline-block;
    line-height: 9rem;
    font-family: 'anton', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-shadow: 1px 4px 4px black;
    color: red;
}


header .box-sx .opzioni {
    padding-left: 3rem;
    line-height: 9rem;
}

header .box-sx .opzioni span {
    font-size: 1.2rem;
    padding-left: 2rem;
    cursor: pointer;
}

header .box-sx .opzioni span:active {
    color: red;
}

header .box-dx {
    position: relative;
}

header .box-dx i {
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

header input {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 3rem;
    outline: none;
}

header .box-dx img.avatar {
    width: 3rem;
    margin-left: 1rem;
    vertical-align: middle;
    border-radius: 50%;
}

/* * main */
.avatar-iniziale img.img-avatar-iniziale {
    width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3rem;
    cursor: pointer;
}

.box-cards {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.box-cards .card {
    width: calc(100% / 4 );
    height: 100%;
    padding-left: 2rem;
    margin: 2rem 0;
    cursor: pointer;
    position: relative;
}

.box-cards .card h2 {
    color: red;
}

.box-cards .card h4 {
    margin-top: 0.5rem;
}

.box-cards .card:hover img.poster {
    opacity: 0.3;
}

.box-cards .card:hover .contenuto-card {
    display: inline-block;
}

.box-cards .card img.poster {
    width: 100%;
    height: 35rem;
    border: 1px solid black;
}

.box-cards .card .contenuto-card {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.box-cards .card img.bandiera {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 50%;
}