<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulciflix</title>
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="root" class="contenitore">
        <!--* header -->
        <header>
            <!--! header sx -->
            <div class="box-sx">
                <h1>Pulciflix</h1>
                <div class="opzioni">
                    <span v-for="contenuto in tipiContenuti">{{ contenuto }}</span>
                </div>
            </div>
            <!--! /header sx -->

            <!-- ! header dx -->
            <div class="box-dx">
                <input @keyup.enter="ricercaInput" type="text" v-model="valoreInput" placeholder="Titolo..">
                <i @click="ricercaInput" class="fas fa-search"></i>
                <img class="avatar" src="img/avatar.jpg" alt="avatar">
            </div>
            <!-- ! /header dx -->
        </header>
        <!-- * /header -->

        <!-- * main -->
        <main>

            <div v-if="!films.length || !series.length" class="avatar-iniziale">
                <img class="img-avatar-iniziale" src="img/avatar.jpg" alt="avatar">
            </div>

            <!--! sezione box card -->
            <section class="box-cards"> 
                <!--!film -->
                <div v-if="films.length" id="films" v-for="film in films" class="card">
                    <img class="poster" :src="(film.poster_path == null) ? locandinaVuota : baseIndirizzoImg + film.poster_path" :alt="film.title">
                    <div class="contenuto-card hidden">
                        <h2>{{ 'Titolo: ' + film.title }}</h2>
                        <h5>{{ 'Titolo originale: ' + film.original_title }}</h5>
                        <h4 v-if="film.overview != ''">{{ 'Trama: ' + film.overview }}</h4>
                        <h4>Voto: <span><i v-for="(i,index) in 5" :class="(index >= film.vote_average) ? 'stelline-vuote' : ''" class="fas fa-star"></i></span></h4>
                        <img class="bandiera" :src="'img/' + film.original_language + '_bandiera.png'" alt="bandiera">
                    </div>
                </div>
                <!-- ! /film -->

                <!-- !serie tv -->
                <div v-if="series.length" id="series" v-for="serie in series" class="card">
                    <img class="poster" :src="(serie.poster_path == null) ? locandinaVuota : baseIndirizzoImg + serie.poster_path" :alt="serie.name">
                    <div class="contenuto-card hidden">
                        <h2>{{ 'Titolo: ' + serie.name }}</h2>
                        <h5>{{ 'Titolo originale: ' + serie.original_name }}</h5>
                        <h4 v-if="serie.overview != ''">{{ 'Trama: ' + serie.overview }}</h4>
                        <h4>Voto: <span><i v-for="(i,index) in 5" :class="(index >= serie.vote_average) ? 'stelline-vuote' : ''" class="fas fa-star"></i></span></h4>
                        <img class="bandiera" :src="'img/' + serie.original_language + '_bandiera.png'" alt="bandiera">
                    </div>
                </div>
                <!-- ! /serie tv -->
            </section>
            <!-- ! /sezione box card -->
        </main>
        <!-- * /main -->

    </div>
    <script src="vue/script.js"></script>
</body>
</html>