<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="root" class="contenitore">
        <!--* header -->
        <header>
            <!--! header sx -->
            <h1>Boolflix</h1>
            <!--! /header sx -->

            <!-- ! header dx -->
            <div class="box-input">
                <input @keyup.enter="ricercaInput" type="text" v-model="valoreInput" placeholder="Titolo..">
                <i @click="ricercaInput" class="fas fa-search"></i>
            </div>
            <!-- ! /header dx -->
        </header>
        <!-- * /header -->

        <!-- * main -->
        <main class="box-cards"> 
            <!--! sezione film -->
            <section v-if="films.length" id="films" v-for="film in films" class="card">
                <img :src="(film.poster_path == null) ? locandinaVuota : baseIndirizzoImg + film.poster_path" :alt="film.title">
                <h2>{{ film.title }}</h2>
                <h3>{{ film.original_title }}</h3>
                <h4>{{ film.original_language }}</h4>
                <img class="bandiera" :src="'img/' + film.original_language + '_bandiera.png'" alt="bandiera">
                <h4>Voto: <span><i v-for="(i,index) in 5" :class="(index >= film.vote_average) ? 'stelline-vuote' : ''" class="fas fa-star"></i></span></h4>
            </section>
            <!-- ! /sezione film -->

            <!-- ! sezione serie tv -->
            <section v-if="series.length" id="series" v-for="serie in series" class="card">
                <img :src="(serie.poster_path == null) ? locandinaVuota : baseIndirizzoImg + serie.poster_path" :alt="serie.name">
                <h2>{{ serie.name }}</h2>
                <h3>{{ serie.original_name }}</h3>
                <h4>{{ serie.original_language }}</h4>
                <img class="bandiera" :src="'img/' + serie.original_language + '_bandiera.png'" alt="bandiera">
                <h4>Voto: <span><i v-for="(i,index) in 5" :class="(index >= serie.vote_average) ? 'stelline-vuote' : ''" class="fas fa-star"></i></span></h4>
            </section>
            <!-- ! /sezione serie tv -->
        </main>
        <!-- * /main -->

    </div>
    <script src="vue/script.js"></script>
</body>
</html>